%clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
//responsive
@function rem($px) {
	@return $px / $font-size + 0rem;
}
@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}
@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: 480px) {
		@content;
	}
}