//var colors
$fb_bgc: #3b5998;
$vk_bgc: #45668e;
$wrapper_bgc: #f6f6f6;
$footer_bgc: #414141;

//var proportions
$container_width: 940px;
$font-size: 16px;
$footer_height: 50px;

//plugins
// @import "../bower/plugins/normalize";

//adjustments
@import "_misc/mixins";
@import "_misc/adjustments";
// @import "_misc/fonts";

//styles
// @import "sections/header";
// @import "sections/footer";