:root {
  --wrapper_bgc: #94bbd2;
  --footer_bgc: darken(var(--wrapper_bgc), 50%);
  --container_width: 1024px;
  --font-size: 16px;
  --footer_height: 50px;
}

//plugins
@import "/node_modules/normalize.css/normalize.css";

//adjustments
@import "_misc/mixins";
@import "_misc/adjustments";
@import "_misc/fonts";

//styles
// @import "sections/header";
// @import "sections/footer";